:root{
  --primary: #ddd;
  --secondary: black;/*#eee;*/
  --back: #676767;/*#4484CE;*/
  --back2: #8E8A8E;
  --font-color: #fff;
  --font-color2: #ccc;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);

}

*{
  margin:0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.html{
  box-sizing: border-box;;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.8rem;
}

body{
  line-height: 1.4;
  height: 100%;
  
}
.home, .professional, .contact, .experience{
	position: relative;
	opacity: 0.9;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	min-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.home{
  background-image: url('/code-coding-computer-574070.jpg');
}

.home .tran-showcase h1{
	font-size: 5rem;
}

.home .tran-showcase h5{
	font-size: 1.5rem;
	padding: 0 0.4rem;
}

.home .tran-showcase h1 span{
	color: green;
}

.contact{
	background-image: url('/blur-close-up-code-546819.jpg');
}

.contact .showcase{
	display: flex;
	align-items: center;
}

.professional{
	background-image: url('/apple-devices-computer-contemporary-234527.jpg');/*url('/business-computer-contemporary-218863.jpg');/*url('/black-and-white-blur-gray-34088.jpg');*/
}

.professional .tran-showcase h1{
	color: var(--font-color);
	font-size: 3rem;
	text-align: center; 
}

.professional .tran-showcase h3{
	font-size: 2rem;
	color: var(--font-color);
	padding: 1rem;
	text-align: center; 
}

.list ul{

}

.list li{
	list-style-type: none;
	line-height: 2.5rem;
	color: var(--font-color);
	text-align: right;
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: 2fr 10fr;
}

.progress{
	display: grid;
	grid-template-columns: 11fr 1fr;
}

.experience{
	background-image: url('/fog-foggy-landscape-897717.jpg');
	min-height: 120vh;
	color: var(--font-color)
}

.experience h1{
	font-size: 3rem;
	text-align: center;
}

.main{
  background: var(--back);
  z-index: -1;
}

.menubar{
  display: none;

  padding: 1rem;
}
.navbar{
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  background: var(--back);
  box-shadow: 1px 3px 10px black;
}
.navbar ul{
  margin: 0 50px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.navbar ul li a{
  color: var(--font-color);
  display: block;
  text-decoration: none;
  padding: 1rem;
  text-align: center;
  font-size: 1.2rem;
}
.navbar ul li a:hover{
  color: var(--secondary);
}
.navbar ul li a:active{
  color: var(--secondary);
}

.showcase, .tran-showcase{
	width: 60vw;
	height: 70vh;
	z-index: 1;
	margin: 3rem auto;
	padding: 2rem;
}

.showcase{
	background-color: var(--back);
	box-shadow: 1px 3px 10px black;
	display: flex;
	justify-content: center;
}

.tran-showcase {
	
}


@media(max-width: 1150px){

}
@media(max-width: 700px){
  .menubar{
    display: block;
  }

  .navbar{
    position: absolute;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 1;
  }
  .navbar ul{
    display: none;
  }
  .navbar ul li a{
    color: var(--fontt);
    background: var(--back);
    display: block;
    text-decoration: none;
    padding: 1.2rem;
    text-align: center;
    font-weight: bold;
    box-shadow: var(--shadow);
  }
  .navbar ul li a:hover{
    color: var(--secondary);
  }
  .navbar ul li a:active{
    color: var(--secondary);
  }

}